body {
	background: #EEE;
	color: #333;
	padding-top: 0px;
	padding-right: 30px;
  	padding-bottom: 0px;
  	padding-left: 30px;
	margin:10px;
	font-family: Raleway;
}

/*cita textual*/
blockquote {
        border-left: 14px solid #1E1E1E;
        background: #E6E6E6;
        padding: 1px;
        margin: 5px 20px;
	clear:both;
	color: #333;
	font-weight: bold;
}

/*Caja de codigo pre*/
pre {
	margin: 0px 0px 1.75em;
	max-width: 100%;
	padding: 0.6em;
	background: rgb(36, 36, 36) none repeat scroll 0% 0%;
	border: 1px solid #E3EDF3;
	border-radius: 3px;
	line-height: 1.5;
	overflow: auto;
	color: #EEE;
}

a {
	color: #00B00C;
	font-weight: bold;
}

a:visited {
	color: #00B00C;
	font-weight: bold;
}

dd {
	padding-left: 30px;
}

img {
	border:10px;
	margin:2px;
	max-width: 100%;
	max-height:100%;
	display: block;
	margin: 0px auto;
	text-align:center;

}


img.gravatar {
	margin-right:120px;
	visibility: hidden;

}

#map img {
	border:0px;
	margin:0px;
}

/* Descripción del artículo (en la actualidad también se utiliza para
    la descripción de alimentación) */
table.itemhead, table.feedhead {
	margin:0;
	width:100%;
	border:80px;
	border-bottom: 1px solid #333;
	clear:both;
	color:#333;
}

/*Barra de titulo del articulo*/
.itemhead, .feedhead {
	background-color:#EEE
	}

table.itemhead * td {
	padding: 2px;
	padding-top: 4px;
}
/*Titulo de cada articulo*/
table.itemhead * a.itemhead {
	text-decoration:none;
	color:#333;
	font-weight:bold;
	font-size: 20px;
}

td.headleft {
	text-align:right;
}

td.headright {
	padding:2px 5px;
}

table.headmeta {
	background:#EEE;
	width:100%;
	border:0;
	border-bottom:#333 solid 1px;
	margin:0;
}

table.headmeta td {
	padding:1px 6px 1px 12px;
	font-size:0.8em;
}

.hidden {
	visibility:hidden;
	display:none;
}

.itemmenu {
	margin:0;
	padding:0;
}

.itemmenu a {
	text-decoration:none;
	color:#E6E6E6;
}

.itemmenu a:hover {

}

.itemmenu * span {
	font-size:1em;
	font-family:sans-serif;
	padding:0;
	margin:0;
	position:relative;
	top:-3px;
}

.itemmenu * img {
	padding:0;
	margin:0;
	height:16px;
	position:relative;
	top:1px;
}

.author, .categories, .source {
        padding:0;
	margin-left:0;
        margin-right:12px;
}

.date {
	white-space:nowrap;
	text-align:right;
	padding-right:5px;
}

div.content {
	padding:0px 6px 0px 12px;
}

div.comment {
	border:1px solid #1E1E1E;
	margin-bottom:5px;
	border-radius: 3px;
}

div.comment_body {
	padding-left:6px;
	padding-right:6px;
}

div.comment_title {
	padding-left:6px;
	padding-right:6px;
	font-weight:bold;
	background:#E6E6E6;
}

a.favicon {
	text-decoration:none;
	visibility: hidden;
}

a.favicon img {
	width:16px;
	border:0;
	margin:0;
	padding:0;
	visibility: hidden;
}

/* Estilos que dan cuenta de la sombra de nuevos artículos en modo condensado */
.itemshaded { background:#ffe; color:black; padding:1px; margin:0; }

.itemunshaded { padding:1px; margin:0; }

.summaryshaded, .summaryunshaded {
	padding:0px 6px;
	margin:0;
}

.summaryshaded a {
	display:block;
	background:#ffe;
	color:black;
	text-decoration:none;
	padding:1px 0px;
	font-weight:bold;

}

.summaryunshaded a {
	display:block;
	color:#GTK-COLOR-TEXT;
	text-decoration:none;
	padding:1px 0px;
}

.summarytime {
	padding-right:15px;
	white-space:nowrap;
	color:#999;
}

hr.summary {
	border:0;
	padding:0;
	margin:2px;
	border-bottom:1px dashed #ddd;
}

/* Estilo para el cuadro de error HTTP al inicio
    de la descripción de alimentación y para el elemento comentario alimentaciones */
#errors, #commentFeedError {
	width:100%;
	border:0;
	border-bottom:1px solid black;
	margin:0;
	background:#ffa;
	color:black;
}

#commentFeedError {
	border:1px solid black;
}

#parseError, #filterError, #updateError {
	padding:2px;
	padding-left:5px;
	padding-right:5px;
}

div.xmlparseroutput {
	margin:10px 0px 10px 15px;
	padding:5px;
	border:2px solid #GTK-COLOR-DARK;
	background:#GTK-COLOR-LIGHT;
}

span.details, span.detaillink {
	visibility:hidden;
	display:none;
}

span.details {
	padding:5px;
	margin:15px;
}

span.showmore {
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}

del {
	text-decoration: line-through;
}

ins {
	text-decoration: underline;
}

/* Namespace estilo especifico */
div.blogchanneltitle {
	padding-left:10px;
	padding-right:10px;
	background-color:#333;
	color:#EEE;
}

.slash {
	background:#60A080;
	padding-left:5px;
	padding-right:5px;
}

.slashSection, .slashDepartment {
	padding-right:2px;
	color:black;
}

.slashValue {
	padding-right:6px;
	color:#EEE;
	font-weight:bold;
}

div.photoheader {
	margin:10px 0;
	padding-left:10px;
	padding-right:10px;
	background-color:#333;
	color:#333;

}
